@import url(nav.css);
$base-color: #C1121F;
$dark-bg: #780000;


//  ------------------ Generales ------------------ 

*{
    padding: 0;
    margin: 0;  
    box-sizing: border-box;
}

//  ------------------ imports ------------------ 
