nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 8vh;
  background: #780000;
  color: #f4f4f4;
  font-family: "Raleway", sans-serif;
}

a {
  color: #f4f4f4;
  text-decoration: none;
}

.logo {
  letter-spacing: 3px;
  font-size: 18px;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-width: 75%;
}

.list-item {
  overflow: hidden;
}

.show {
  margin-left: auto;
  border-left: 2px solid #f4f4f4;
  list-style: none;
  -webkit-transition: height 0.5s;
  transition: height 0.5s;
  height: 0;
}

.list-item i {
  margin: 0 5px;
}

.list-inside {
  padding: 5px 20px;
  text-align: left;
}

.burguer {
  display: none;
}

.burguer div {
  height: 2px;
  margin: 5px;
  background: #f4f4f4;
  -webkit-transition: 500ms all ease;
  transition: 500ms all ease;
}

.line1 {
  width: 25px;
}

.line2 {
  width: 15px;
}

.line3 {
  width: 7px;
}

@media screen and (max-width: 992px) {
  body {
    overflow: hidden;
  }

  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background: #780000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 10%;
    -webkit-box-align: left;
        -ms-flex-align: left;
            align-items: left;
    width: 100%;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: 500ms all ease-in;
    transition: 500ms all ease-in;
  }

  .nav-links li {
    opacity: 0;
  }

  .burguer {
    display: block;
  }

  .nav-active {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }

  @-webkit-keyframes navLinkFade {
    /*     LATERAL MENU */
    from {
      opacity: 0;
      -webkit-transform: translateX(50px);
              transform: translateX(50px);
    }
    to {
      opacity: 1;
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
  }

  @keyframes navLinkFade {
    /*     LATERAL MENU */
    from {
      opacity: 0;
      -webkit-transform: translateX(50px);
              transform: translateX(50px);
    }
    to {
      opacity: 1;
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
  }
  /* MENU TO X */
  .toggle .line1 {
    -webkit-transform: rotate(-45deg) translate(-4px, 6px);
            transform: rotate(-45deg) translate(-4px, 6px);
  }

  .toggle .line2 {
    opacity: 0;
  }

  .toggle .line3 {
    -webkit-transform: rotate(45deg) translate(-4px, -6px);
            transform: rotate(45deg) translate(-4px, -6px);
    width: 25px;
  }
}
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}